@import "tailwindcss";

@theme {
	--color-brand-orange: #FF7F50;
	--color-brand-purple: #5B3B66;
    --color-brand-purple-light: #CDBCCC;
	--color-brand-light: #FDFCFB;
	--color-brand-gray: #E5E5E5;
	--color-brand-dark: #342E34;

	--font-sans: "Nunito", sans-serif;
}
@layer base {
  body {
    @apply bg-white text-brand-dark font-sans antialiased;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  a, button, [role="button"], input[type="checkbox"] {
    @apply cursor-pointer;
  }
  *{
    box-sizing:border-box
  }
  html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

@layer components {

}